<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    <style>
        .container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    </style>
</head>
<body>
    <%- include('./partials/nav') %> 
    <div class="container mt-5">
        <% blogs.forEach(blog => { %>
            <div class="card mt-3" style="width: 18rem;">
                <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                  <a href="/blog/delete/<%= blog._id %>" class="btn btn-primary">Delete</a>
                </div>
              </div>
        <% }) %>
    </div>
    <%- include('./partials/script') %> 
</body>
</html>